* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0e3e6;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.calculator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff,
                    5px 5px 12px rgba(0,0,0,.10)!important;
  display: grid;
  grid-template-columns: repeat(4, 70px);
}
input{
    grid-column: span 4;
    height: 50px;
    width: 260px;
    border-radius: 30px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0,.10)!important;
    color: rgba(70, 70, 70)!important;
    border: none;
    font-size: 50px!important;
    text-align: end;
    margin-top: 40px!important;
    margin-bottom: 30px!important;
    padding-right: 15px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px rgba(0,0,0,.30)!important;
    border-radius: 50%!important;
    border: none;
    margin: 8px!important;
    font-size: 16px!important;
}
